<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{% url 'home' %}"  style="padding-left: 30px;">DjangoBank</a>

    </div>


    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right" style="padding-right: 30px;">
        {% if request.user.is_authenticated %}
        <li><a href="{% url 'logout' %}">Logout</a></li>
        {% else %}

        <li><a href="{% url 'login' %}"><span class="glyphicon glyphicon-log-in"></span>Log in</a></li>
        <li><a href="{% url 'register' %}"><span class="glyphicon glyphicon-user"></span>Create Account</a></li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>